<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "customerReportFactory" class="com.despegar.altovuelo.report.CustomerReportFactory">
        <property name="ageCalculator" ref = "ageCalculator"></property>
        <property name="ageRangeCalculator" ref = "ageRangeCalculator"></property>
        <property name="chineseZodiacResolver" ref="chineseZodiacResolver"></property>
        <property name="customerTypeResolver" ref="customerTypeResolver"></property>
        <property name="verificationValueResolver" ref = "verificationValueResolver"></property>
    </bean>



    <bean id = "ageCalculator" class = "com.despegar.altovuelo.report.AgeCalculator">
    </bean>


    <bean id = "ageRangeCalculator" class = "com.despegar.altovuelo.report.AgeRangeCalculator">

    </bean>

    <bean id = "chineseZodiacResolver" class = "com.despegar.altovuelo.report.ChineseZodiacResolver">

    </bean>


    <bean id = "customerTypeResolver" class = "com.despegar.altovuelo.report.CustomerTypeResolver">

    </bean>


    <bean id = "verificationValueResolver" class = "com.despegar.altovuelo.report.VerificationValueResolver">
        
    </bean>
</beans>